<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CloudRail.Google.Drive.Api" version="1.0.7" targetFramework="net46" />
  <package id="HtmlAgilityPack" version="1.8.9" targetFramework="net46" />
  <package id="LinqToExcel" version="1.11.0" targetFramework="net46" />
  <package id="SpeechLib.Models" version="1.6.0" targetFramework="net46" developmentDependency="true" />
  <package id="SpeechLib.Recognition" version="1.6.0" targetFramework="net46" developmentDependency="true" />
</packages>